NEON_POSTGRES_PRISMA_URL="postgresql://leadfinder:leadfinder@localhost:5432/leadfinder?schema=public"
NEON_POSTGRES_URL_NON_POOLING="postgresql://leadfinder:leadfinder@localhost:5432/leadfinder?schema=public"
GOOGLE_PLACES_API_KEY=""
PAID_PROVIDERS_ENABLED="false"
AUTH_SECRET="replace-with-at-least-32-random-characters"
CRON_SECRET="replace-with-a-separate-random-secret"
INITIAL_ADMIN_USERNAME="sitoro"
INITIAL_ADMIN_PASSWORD=""
PAGESPEED_API_KEY=""
GOOGLE_PLACES_DAILY_LIMIT="250"
GOOGLE_PLACES_MONTHLY_LIMIT="1000"
GOOGLE_PLACES_ESTIMATED_COST_CENTS="3"
GOOGLE_PLACES_MAX_PAGES_PER_JOB="2"
LEAD_GENERATION_TARGET="50"
LEAD_CANDIDATE_BUFFER="200"
OVERPASS_API_URL="https://overpass-api.de/api/interpreter"
OVERPASS_API_URLS="https://overpass-api.de/api/interpreter,https://overpass.kumi.systems/api/interpreter,https://overpass.nchc.org.tw/api/interpreter"
OVERPASS_TIMEOUT_MS="30000"
GENERATION_MAX_DURATION_SECONDS="240"
GENERATION_MAX_SOURCE_CALLS="40"
WEBSITE_CHECK_CONCURRENCY="3"
WEBSITE_FETCH_MAX_BYTES="1000000"
PAGESPEED_DAILY_LIMIT="25"
PAGESPEED_MONTHLY_LIMIT="100"
PAGESPEED_ENABLED="false"
WEBSITE_OPPORTUNITY_THRESHOLD="55"
SESSION_TTL_DAYS="14"
NEXT_PUBLIC_APP_URL="https://leadfindersitora.nl"
